{{#*inline "head"}}
<script>
  function unpausePoster(button) {
    const $poster = $(button).closest(".poster");
    const poster = $poster.data();
      $.ajax(`/posters/${poster.id}`, {
        data: JSON.stringify({stopped: !poster.stopped}),
        dataType: 'json',
        contentType: 'application/json',
        type : 'PUT',
      }).done(poster => {
        updatePoster(poster, $poster);
      }).fail(e => {
        alert("error" + e);
      });
  }

  function updatePoster(p, $p) {
    $p.data(p)
    $p.find(".poster-id").text("" + p.id);
    $p.find(".poster-url").attr({
      href: p.url
    }).text(p.url);
    const status = p.lockout ? "Locked" : p.stopped ? "Stopped" : "Serving";
    $p.find(".poster-status").text(status);
    $p.find(".poster-pause")
      .text(p.stopped ? "Serve" : "Pause")
      .removeClass("btn-primary btn-secondary")
      .addClass(p.stopped ? "btn-primary" : "btn-secondary");
    const del = $p.find(".poster-delete");
  };

  function deletePoster(button) {
    const $poster = $(button).closest(".poster");
    const poster = $poster.data();
      $.ajax(`/posters/${poster.id}`, {
        dataType: 'json',
        type : 'DELETE',
      }).done(poster => {
        $poster.remove();
      }).fail(() => {
        alert("error");
      });
  }
    function sortPosters() {
      $("#poster-container").sort((a, b) => {
        const ai = $(a).data("id");
        const bi = $(b).data("id");
        return (ai < bi) ? -1 : (ai > bi) ? 1 : 0;
      });
    }

    function removeUnknownPosters(knownPosters) {
      $(".poster").each((_, post) => {
        const $post = $(post);
        if (!knownPosters.find(item => item.id == $post.data("id"))) {
          $post.remove();
        }
      });
    }

    function rebuildPosters(posters) {
      appendPosters(posters);
      removeUnknownPosters(posters);
    }

    function appendPosters(posters) {
      for (poster of posters) {
        var $p = $("#poster-" + poster.id);
        if (!$p.length) {
          $p = $("#poster-row-template").contents().clone();
          $p.attr({
            id: "poster-" + poster.id
          });
          $p.appendTo($("#poster-container"))
        }
        console.log($p)
        updatePoster(poster, $p);
      }
      sortPosters();
    }

  function addPoster(submitEvent) {
    submitEvent.preventDefault();
    $.ajax("/posters", {
      data: JSON.stringify({url: $("#poster-to-add").val()}),
      dataType: 'json',
      contentType: 'application/json',
      type : 'POST',
    }).done(data => {
      appendPosters([data]);
    }).fail(e => {
      alert("error" + e);
    });
  }

  $(document).ready(() => {
    $.ajax("/posters", {
      dataType: 'json',
    }).done(posters => {
      rebuildPosters(posters);
    }).fail(e => {
      alert("error" + e);
    });
  });
</script>
{{/inline}}

{{#> base title="Posters"}}
  <div class="col-8">
    {{#> card title="Configure"}}
      <table class="table">
        <template id="poster-row-template">
          <tr class="poster">
            <th class="poster-id" scope="col">TEMP_ID</th>
            <td class="poster-status">TEMP_STATUS</td>
            <td>
              <div class="btn-group" role="group">
                <button class="poster-pause btn btn-primary" onclick="unpausePoster(this)">TEMP_SUBMIT_BUTTON</button>
                <button class="poster-delete btn btn-outline-danger" onclick="deletePoster(this)">Delete</button>
              </div>
            </td>
            <td><a role="button" class="btn btn-link poster-url" href="TEMP_LINK">link</a></td>
          </tr>
        </template>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="poster-container">
        </tbody>
      </table>
      <div class="input-group mb-3">
        <form onsubmit="addPoster(event)" class="input-group">
          <input type="url" name="url" class="form-control" placeholder="https://example.com/image.png" aria-label="Poster URL" id="poster-to-add" required>
          <button type="submit" class="btn btn-primary" id="add-poster">Add Poster</button>
        </form>
      </div>
    {{/card}}
  </div>
{{/base}}